<!DOCTYPE html>
<html lang="pt-br" ng-app="restaurante">
	<head>
		<base href="/">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Restaurante</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/dashboard.css">
		<script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-animate.min.js"></script>
        <script src="js/lib/angular-route.min.js"></script>
        <script src="js/lib/angular-resource.min.js"></script>
		<script src="js/controllers/carrinhoController.js"></script>
	</head>
	<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Restaurante</a>
			</div>
		</div>
	</nav>

	<div class="container-fluid" ng-controller="carrinhoController">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="index.html">Produtos</a></li>
					<li class="active"><a href="#">Carrinho<span class="sr-only">(current)</span></a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h2 class="sub-header">Carrinho</h2>
				<form>
					<div class="form-group">
						<label>Cliente</label>
						<input type="text" class="form-control" placeholder="Nome do cliente" ng-model="nomeCliente">
					</div>
					<button class="btn btn-primary"  type="submit" class="btn btn-default" ng-click="confirmarPedido()">Confirmar</button>
				</form>
				<h2 class="sub-header">Produtos</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Nome</th>
							<th>Preço</th>
							<th>Quantidade</th>
							<th>Excluir</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="produto in produtos" ng-model="produtos.values">
							<td>{{produto.nome}}</td>
							<td>{{produto.preco| number:2}}</td>
							<td>
								<div class="input-group">
									<input type="number" class="form-control input-number" value={{produto.quantidade}} min="1" max="100">
								</div>
							</td>
							<td><button class="btn btn-danger" ng-click="excluirItem(produto)">Excluir</button></td>
						</tr>
						</tbody>
					</table>
				</div>
				<h2 class="sub-header">Total: {{totalPedido || currency}}</h2>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="css/bootstrap.min.js"></script>
	</body>
</html>
